@mixin background($image) {
  background-image: url($image);
  background-size: cover;
  background-position: center;
}

@mixin container($width) {
  width: $width;
  margin: 0 auto;
  border: 1px solid red;
}

// Example Grid-columns:
@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}

// Example Flex-columns:
@mixin flex-grid($columns) {
  display: flex;
  & > * {
    flex: 1 1 (1 / $columns * 100%);
  }
}
