* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1 1 20%;
}

section {
  padding: 3rem 0;
  min-height: 100vh;
}

section .container {
  width: 90vw;
  margin: 0 auto;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section.artofcakes {
  background-image: url("../img/artofcakes.jpg");
  background-size: cover;
  background-position: center;
}

section.pancakes {
  background-image: url("../img/pancakes.jpg");
  background-size: cover;
  background-position: center;
}

section.breakfast {
  background-image: url("../img/breakfast.jpg");
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */