@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  @include flex-grid(5);
}

section {
  // styling for all sections
  padding: 3rem 0;
  min-height: 100vh;

  .container {
    @include container(90vw);
    @include grid(2);
    //@include flex-grid(2);
  }

  &.artofcakes {
    @include background("../img/artofcakes.jpg");
  }
  &.pancakes {
    @include background("../img/pancakes.jpg");
  }
  &.breakfast {
    @include background("../img/breakfast.jpg");
  }
}
